/* Home.css */
section {
    height: 100vh;
    background-color: #a49b9b; /* White background */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rectangle {
    width: 80%;
    height: 50%;
    background-color: #a49b9b; /* Light gray rectangle */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between text and image */
    border: 1px solid #a49b9b; /* Optional border */
    border-radius: 8px; /* Optional border radius */
    margin-top: 100px; /* Space between navbar and rectangle */
    padding: 20px; /* Optional padding inside the rectangle */
  }
  
  .text-container {
    flex: 1; /* Allow text container to grow */
    padding-right: 20px; /* Space between text and image */
  }
  
  .image {
    width: 40%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  